/*Cosas para iniciar proyecto*/
/*Selectores globales*/

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    
}

img {
    max-width: 100%;
}

/*Utilidad*/
.contenedor {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

/*
colores:
Azul #133a59

*/

/*Botones*/

.btn-claro {
    background-color: #343434;
    color: white;
}

.btn-oscuro {
    background-color: #111111;
    color: white;
}

.btn-claro:hover, .btn-oscuro:hover {
    background-color: #737373;
}

.btn-azul {
    color: white;
    background-color: #345b7a;
}

.btn-azul:hover {
    background-color: #2580ca;
}

/*Calculadora*/

.calculadora {
    max-width: 250px;
    border: solid black 1px ;
    background-color: #555555;
    font-size: 15px;
}

.encabezado {
    color: white;
}

.datos p {
    font-size: 50px;
    text-align: right;
    margin: 10px 0;
    color: white;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.botones .boton {
    flex-basis: calc(25% - 3px);/*para que este funciones bien*/
    margin-top: 5px;
}

.boton button {
    width: 100%;
    padding: 12px 15px;
}

.boton button:hover {
    cursor: pointer;
    background-color: rgb(155, 155, 155);
}

.acumulador {
    font-size: 3.2rem;
    color: white;
    margin: 0;
}

.acumulador p {
    margin: 0;
}